{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head charset="UTF-8">
   <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">

	<title>{% block title %}Document {% endblock %}</title>
</head>
<body>

</body>

 {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SGOA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Grupo de desarollo</a>
          <a class="dropdown-item" href="#">Herramientas</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          OA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'objetos_aprendizaje:buscar' %}">Buscar</a>
          {% if user.is_teacher %}
          <a class="dropdown-item" href="{% url 'objetos_aprendizaje:oa_crear' %}">Crear</a>
          {% endif %}
          
      </li>

    </ul>
  </div>
</nav>
{% endblock %}


{% block inicio %}
  <h1>Bienvenido</h1>
{% endblock %}

{% block content %}
<h5> Contenido </h5>
{% endblock %}






{% block sc %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{% endblock %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>